{% extends "teacher_dashboard.html" %}
{% block title %}Teacher Profile{% endblock %}
{% block content %}

<div class="container mt-5">
    <div class="card shadow p-4 mx-auto" style="max-width: 600px; border-radius: 15px;">

        <div class="text-center">
            <img src="{{ teacher.image.url }}" class="rounded-circle mb-3" alt="Profile Picture" width="120" height="120">
            <h4 class="text-primary">{{ teacher.user.first_name }} {{ teacher.user.last_name }}</h4>
            <p class="text-muted">@{{ teacher.user.username }}</p>
        </div>

        <hr>

        <div>
            <p><strong>Email:</strong> {{ teacher.user.email }}</p>
            <p><strong>Phone:</strong> {{ teacher.phone }}</p>
            <p><strong>Address:</strong> {{ teacher.address }}</p>
            <p><strong>Age:</strong> {{ teacher.age }}</p>
            <p><strong>Course:</strong> {{ teacher.course.coursename }}</p>
        </div>

        <div class="text-center mt-3">
            <a href="{% url 'teacher_edit' teacher.id %}" class="btn btn-primary btn-sm">Edit Details</a>
        </div><br>
         {% if messages %}
            {% for message in messages %}
                <div class="alert alert-info text-center">{{ message }}</div>
            {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock %}